.normal   { background-color: #a8a77a; color: #fff; }
.fire     { background-color: #ee8130; color: #fff; }
.water    { background-color: #6390f0; color: #fff; }
.electric { background-color: #f7d02c; color: #333; }
.grass    { background-color: #7ac74c; color: #fff; }
.ice      { background-color: #96d9d6; color: #333; }
.fighting { background-color: #c22e28; color: #fff; }
.poison   { background-color: #a33ea1; color: #fff; }
.ground   { background-color: #e2bf65; color: #333; }
.flying   { background-color: #a98ff3; color: #fff; }
.psychic  { background-color: #f95587; color: #fff; }
.bug      { background-color: #a6b91a; color: #fff; }
.rock     { background-color: #b6a136; color: #fff; }
.ghost    { background-color: #735797; color: #fff; }
.dragon   { background-color: #6f35fc; color: #fff; }
.dark     { background-color: #705746; color: #fff; }
.steel    { background-color: #b7b7ce; color: #333; }
.fairy    { background-color: #d685ad; color: #fff; }